<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/themify-icons.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/js/sweetalert2.js"></script>
  <script>
	const Toast = Swal.mixin({
    		toast: true,
		    position: 'top-end',
		    showConfirmButton: false,
		    timer: 3000
  });
	</script>
</head>
<body>
  <section class="h-auto justify-items-center">
  <div class="container-costum">
  <div class="flex flex-row mb-8">
      <a href="/"><button class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" id="hapusFilter" name="button">Hapus Filter</button></a>
      <button class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" id="tambahData" name="button">Tambah Data</button>
  </div>
  <div class="rounded overflow-hidden bg-white shadow-lg" style="padding:20px;">
  <div class="flex flex-row-revere justify-between mb-8">
      <span class="text-xl"><b>Tabel Barang</b></span>
        <form action="" method="get">
            <input class="border px-4  py-2 text-gray-700 leading-tight focus:outline-none sm:ml-3 sm:w-auto sm:text-sm" autosave="fale" autocomplete="off" type="text" name="search" placeholder="Search">

            <button class="border px-4 py-2 bg-blue-600 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" type="submit" style="margin-left:-5px;">Cari</button>
        </form>
    </div>
    <table width="100%">
      <thead align="left" id="mytable">
        <tr >
          <th>Kode Barang</th>
          <th>Nama Barang</th>
          <th>Jenis Barang</th>
          <th>Merk Barang</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="data">
        <%
        for(i in bio) {
          var a = bio[i].split("#") %>
          <tr>
            <td><%= a[0] %></td>
            <td><%= a[1] %></td>
            <td><%= a[2] %></td>
            <td><%= a[3] %></td>
            <td>
              <a href="javascript:void(0)" class="edit" data-id="<%= a[0] %>" data-name="<%= a[1] %>" data-jb="<%= a[2] %>" data-merk="<%= a[3] %>"><i class="icon"><i class="icon-pencil"></i></i></a>
              <a href="/deleteBio/<%= a[0] %>"><i class="icon"><i class="icon-trash"></i></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    </div>
  </section>

  <div id="TambahModal" style="display:none">
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center md:block md:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity modalTambah" aria-hidden="true"></div>
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all my-8 md:align-middle max-w-lg w-full">
      <form action="/insert" method="post" >
        <div class="bg-white px-4 pt-5 pb-4">
          <div class="flex-wrap items-start">
            <div class="mt-3 text-center sm:text-left">
                  <div class="mb-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="kd" placeholder="Kode Barang" required>
                  </div>
                  <div class="mb-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="nama" placeholder="Nama Barang" required>
                  </div>
                  <div class="mb-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="merk" placeholder="Merk Barang" required>
                  </div>
                  <div class="mb-4">
                    <label class="mb-4">Jenis Barang</label><br>
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="jb">
                      <option value="Elektronik">Elektronik</option>
                      <option value="Non-Elektronik">Non-Elektronik</option>
                    </select>
                  </div>
            </div>
          </div>
        </div>
        <div class="py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm">
            Simpan
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>

  <div id="EditModal" style="display:none">
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center md:block md:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity modalEdit" aria-hidden="true"></div>
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all my-8 md:align-middle max-w-lg w-full">
      <form action="/update" method="post" >
        <div class="bg-white px-4 pt-5 pb-4">
          <div class="flex-wrap items-start">
            <div class="mt-3 text-center sm:text-left">
                <input class="kd" type="hidden" name="id">
                  <div class="mb-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline kd" type="text" name="kd" placeholder="Kode Barang" required>
                  </div>
                  <div class="mb-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline name" type="text" name="nama" placeholder="Nama Barang" required>
                  </div>
                  <div class="mb-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline merk" type="text" name="merk" placeholder="Merk Barang" required>
                  </div>
                  <div class="mb-4">
                    <label class="mb-4">Jenis Barang</label><br>
                    <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline jb" name="jb" selected>
                      <option value="Elektronik">Elektronik</option>
                      <option value="Non-Elektronik">Non-Elektronik</option>
                    </select>
                  </div>
            </div>
          </div>
        </div>
        <div class="py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm">
            Simpan
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  </body>
  <script src="./js/jquery-3.6.0.min.js"></script>
  <script>


  $(document).on('click','#tambahData',function() {
    $('#TambahModal').show();
  });

  $(document).on('click','.modalTambah',function() {
    $('#TambahModal').hide();
  });
  $(document).on('click','.modalEdit',function() {
    $('#EditModal').hide();
  });

  $(document).on('click','.edit',function(){
      var kd = $(this).data('id');
      var name = $(this).data('name');
      var jb = $(this).data('jb');
      var merk = $(this).data('merk');
      $('#EditModal').show();
      $('.kd').val(kd);
      $('.name').val(name);
      $('.jb').val(jb);
      $('.merk').val(merk);
    });
  </script>
</html>
