@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");

html {
    margin: 0 !important;
    overflow: auto !important;
    padding: 0;
    scroll-behavior: smooth;
}

body {
  color: #5E5C7F;
  background-color: #F9F9FF;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*=================================================================*/
/*                      TYPOGRAPHY
/*=================================================================*/
h1, h2, h3, h4, h5, h6 {
    color: #454360;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 20px 0;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
  .btn {
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1;
    padding: 12px 32px;
    position: relative;
}
  .btn-default {
    color: #FFF;
    background: #FF4C60;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

  @media (min-width: 1200px) {
    .container-costum {
      max-width: 920px;
    }
  }

  @media (min-width: 1366px){
  .container-costum {
      max-width: 1080px;
    }
  }

  @media only screen and (min-width: 768px){
  constructed stylesheet
  .container {
      max-width: 920px;
  }
  }

  .container-costum {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
  }
